/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, 1:42:18 PM
    Author     : bug7a
*/

body {
    
    margin-top: 0px;
    margin-left: 0px;
    
}

#butterfly-game-container {
    position: absolute;

    background-image: url("../asset/background.png");
    background-repeat: no-repeat;
    
    width: 832px;
    height: 448px;
    
}

.objects-style {
    
    position: absolute;
    
}

#player {
    
    position: absolute;
    
}

.object-description-style {
    
    position: absolute;
    right:4px;
    bottom:4px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color:black;
    
}